name: docker
on:
  workflow_dispatch: # manually run
    inputs:
      tag:
        description: image tag
        required: true

env:
  CI: true

jobs:
  publish:
    name: Build & publish docker images
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Docker login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_LOGIN }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build & publish bootnode
        uses: docker/build-push-action@v5
        with:
          context: ./transport
          platforms: linux/amd64,linux/arm/v7,linux/arm64/v8,linux/386
          target: bootnode
          push: true
          tags: subsquid/bootnode:${{ inputs.tag }}

      - name: Build & publish rpc-node
        uses: docker/build-push-action@v5
        with:
          context: ./transport
          platforms: linux/amd64,linux/arm/v7,linux/arm64/v8,linux/386
          target: rpc-node
          push: true
          tags: subsquid/rpc-node:${{ inputs.tag }}
